/*
Error: Invalid property: "Backtrace:" (no value).
        on line 4 of opclo.css

1: /*
2: Errno::ENOENT: No such file or directory @ rb_sysopen - opclo.scss
3: 
4: Backtrace:
5: /Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:454:in `read'
6: /Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:454:in `update_stylesheet'
7: /Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
8: /Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
9: /Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'

Backtrace:
opclo.css:4
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/engine.rb:755:in `parse_property'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/engine.rb:707:in `parse_property_or_rule'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/engine.rb:666:in `parse_line'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/engine.rb:539:in `build_tree'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/engine.rb:558:in `block in append_children'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/engine.rb:557:in `each'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/engine.rb:557:in `append_children'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/engine.rb:417:in `_to_tree'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/plugin.rb:109:in `method_missing'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:358:in `watch_or_update'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/Users/iker/.rvm/gems/ruby-3.1.3/bin/sass:25:in `load'
/Users/iker/.rvm/gems/ruby-3.1.3/bin/sass:25:in `<main>'
/Users/iker/.rvm/gems/ruby-3.1.3/bin/ruby_executable_hooks:22:in `eval'
/Users/iker/.rvm/gems/ruby-3.1.3/bin/ruby_executable_hooks:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid property: \"Backtrace:\" (no value).\a         on line 4 of opclo.css\a\a 1: /*\a 2: Errno::ENOENT: No such file or directory @ rb_sysopen - opclo.scss\a 3: \a 4: Backtrace:\a 5: /Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:454:in `read'\a 6: /Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:454:in `update_stylesheet'\a 7: /Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'\a 8: /Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'\a 9: /Users/iker/.rvm/gems/ruby-3.1.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'";
}