@import "../abstracts/variables";
<<<<<<< HEAD
=======
@import "../abstracts/mixins";
>>>>>>> 3cf367b2a8bd3cff99a88118272c6a326d37f532

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-beige-principal;
}
.main-container {
  @include center_objects_row();
}
.left-container {
  align-items: center;
<<<<<<< HEAD
  background-image: url("1.svg");
=======
  background-image: url("dishes/3.svg");
>>>>>>> 3cf367b2a8bd3cff99a88118272c6a326d37f532
  background-repeat: no-repeat;
  color: $white-font-and-lettering;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 50%;

  .text-container {
    margin-right: 100px;
    max-width: 400px;

    p {
      font-family: "Inter";
      font-size: 90px;
      font-weight: bolder;
    }
  }
}

.rigth-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  min-width: 300px;
  width: 50%;

  img {
<<<<<<< HEAD
    width: 315px;
=======
    width: 250px;
>>>>>>> 3cf367b2a8bd3cff99a88118272c6a326d37f532
    filter: drop-shadow(10px 10px 10px #a8a8a863);
  }

  .buttons-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .button-home {
      align-items: center;
<<<<<<< HEAD
      background: #c93e3f;
=======
      background: $red_button;
>>>>>>> 3cf367b2a8bd3cff99a88118272c6a326d37f532
      border-radius: 45px;
      border: 6px solid #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      height: 90px;
      justify-content: flex-end;
      margin: 10px;
      transition: ease 4ms;
      width: 403px;

      p {
<<<<<<< HEAD
        color: #ffffff;
=======
        color: $white;
>>>>>>> 3cf367b2a8bd3cff99a88118272c6a326d37f532
        font-family: "Inter";
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
      }

      span {
        align-items: center;
        background-color: $white-font-and-lettering;
        border-radius: 50%;
        display: flex;
        height: 60px;
        justify-content: center;
        margin-left: 50px;
        margin-right: 10px;
        width: 60px;
        img {
          width: 50px;
          fill: $red-color-main-button;
        }
      }
    }
  }

  .button-home:hover {
    background: $red-color-main-button-hover;
    span {
      rotate: 20deg;
    }
  }
}
