.kitchen {

  &__main{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0 10rem 5rem;
    width: 95%;
  }

  &__order {

    background: #e0e0e0;
    box-shadow:  7px 7px 15px #9d9d9d,
                -7px -7px 15px #ffffff;
    display: flex;
    flex-direction: column;
    height: 25rem;
    justify-content: space-around;
    margin: 0.5rem;
    padding: 1rem;
    width: 25rem; 

    &__wait {
      background-color: lightgray;
    }

    &__progress {
      background: rgb(215, 176, 103);
    }

    &__done {
      background: rgb(128, 220, 128);
    }

    &__info {
      display: flex;
      justify-content: space-between;

      &__table {
        font-weight: bold;
      }

      &__button {
        border: none;
        border-radius: 1px;
        height: 2rem;
        width: 6rem;
        background: #e0e0e0;
        box-shadow:  7px 7px 15px #9d9d9d,
                    -7px -7px 15px #ffffff;

        transition: 0.5s;
        &:hover {
          box-shadow: none;
        }
      }
    }

    &__items {
      display: flex;
      flex-direction: column;
    }

    &__notes {
      font-weight: bold;
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: none;
      background: #e0e0e0;
      height: 2rem;
      transition: 0.5s;
      width: auto;

      &:hover {
        box-shadow: none;
      }

      &__progress {
        background: rgb(215, 176, 103);
        box-shadow:  7px 7px 15px #9d9d9d,
                    -7px -7px 15px #ffffff;
      }

      &__done {
        background-color: rgb(128, 220, 128);
        box-shadow:  7px 7px 15px rgb(162, 151, 128),
        -7px -7px 15px rgb(215, 176, 103);
      }

      &__delete {
        background-color: rgb(236, 140, 140);
                box-shadow:  7px 7px 15px rgb(128, 162, 137),
        -7px -7px 15px rgb(128, 220, 128);
      }
    }
  }

}

