@import "../abstracts/variables";


html,
body {
    background-color: $background-beige-principal;
    color: grey;
    margin: 0;
    max-height: 100%;
  }

.img {
    align-items: center;
    background-image: url(login_img.png);
    background-position: center;
    background-size: cover;
    border-radius: 0 30px 30px 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }

.overlay {
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    box-shadow: inset 0px 290px 75px 20px rgba(255, 255, 255, 0.39);
    color: white;
    height: 520px;
    width: 500px;
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    width: 50%;
  }

.icon {
    height: 100px;
    width: 100px;
  }

.row {
    display: flex;
  }

.column {
    flex: 50%;
  }

h3{
    margin-top: 10px;
  }

.center {
    margin: auto;
    text-align: center;
  }

.field {
    padding-bottom: 20px;
  }

.user_field,
.password_field {
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    width: 280px;
  }

.user_field:focus,
.password_field:focus {
    border-bottom: 2px solid black;

  }

.fields_login {
    display: flex;
    justify-content: center;
  }

.remember_field {
    color: grey;
    margin-right: 20px;
  }

input[type="checkbox"] {
    accent-color: #c93e3f;
    background-color: black;
  }

input[type="checkbox"]:checked+label {
    color: black;
  }

input[type="submit" i] {
    background: #c93e3f;
    border-radius: 40px;
    border: 6px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    margin: 10px;
    transition: ease 4ms;
    width: 253px;
  }

input[type="submit" i]:hover {
    background: #ffffff;
    border: 6px solid #c93e3f;
    color: black;
  }

