/* Base: holds the boilerplate code for the project. 
Including standard styles such as resets and typographic rules, 
which are commonly used throughout your project.*/
.title {
  color: lightgray;
  font-size: 4rem;
  margin: 1rem 0 1rem 0;
  text-align: center;
}