<footer class='footer__container'>
    <div>
      <a href='/'>
        <%= image_tag 'foodpoint.svg', size: '60x60' %>
      </a>
    </div>

    <div>
      <p>Política de Privacidad - Política de Cookies</p>
    </div>

    <div>
      <a href='https://github.com/BrightCoders-Institute/BCDIC22-RoR-proyecto-final-team3'>
        <img class='footer__media' src="https://img.icons8.com/ios-glyphs/30/4a8ebf/github.png"/>
      </a>
      <img class='footer__media' src="https://img.icons8.com/ios-glyphs/30/4a8ebf/facebook-new.png"/>
      <img class='footer__media' src="https://img.icons8.com/ios-glyphs/30/4a8ebf/twitter--v1.png"/>
      <img class='footer__media' src="https://img.icons8.com/ios-glyphs/30/4a8ebf/linkedin.png"/>
      <img class='footer__media' src="https://img.icons8.com/ios-glyphs/30/4a8ebf/instagram-new.png"/>
      <img class='footer__media' src="https://img.icons8.com/ios-glyphs/30/4a8ebf/tiktok.png"/>
      <img class='footer__media' src="https://img.icons8.com/ios-glyphs/30/4a8ebf/snapchat.png"/>
    </div>
</footer>
