<div class='navbar__container' >
  
  <div class='navbar__logo' ></div>

  <div class='navbar__menu' >
    <%= link_to 'Mesas', '/', class: 'navbar__menu__option'%>
    <%= link_to 'Ordenes', '/', class: 'navbar__menu__option'%>
    <%= link_to 'Menu', '/', class: 'navbar__menu__option'%>
  </div>

  <div class='navbar__logout' >
    <div class='navbar__logout__line' ></div>
    <%= link_to 'Log Out', '/', class: 'navbar__logout__option'%>
  </div>

</div>

