@import "../abstracts/variables";

.container{
  margin-left: 10rem;
  margin-top: 50px;
}

.titulo{
  align-items: center;
  background-color: #2C2C2C;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  margin-left: 30%;
  margin-top: 15px;
  padding-block: 10px;
  text-align: center;
  width: 40%;

  .texto{
    color: white;
  }


  // Shadow
  -moz-box-shadow: 7px 9px 22px -5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 7px 9px 22px -5px rgba(0,0,0,0.5);
  box-shadow: 7px 9px 22px -5px rgba(0,0,0,0.5);
}

.btn-group {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-right: 80px;
  margin-top: 15px;
}

  .reports{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    text-align: center;

    .scores{
      align-items: center;
      display: flex;
      justify-content: space-around;
      margin: 15px 0;
      text-align: center;

      .good {
        border: $green-ok 3px solid;
      }

      .bad {
        border: $navbar-logout 3px solid;
      }
    
      .tarjeta{
        align-items: center;
        background-color: $background-beige-principal;
        display: flex;
        height: 75px;
        justify-content: space-between; /* centrar horizontalmente el contenido */
        padding: 5px;
        width: 200px;

        .tarjeta-estado-bad,
        .tarjeta-estado-good{
          align-items: center;
          color: $white;
          display: flex;
          font-size: 42px;
          height: 75px;
          justify-content: center;
          width: 30px;
        }

        .tarjeta-estado-good{
          background-color: $green-ok;
        }

        .tarjeta-estado-bad{
          background-color: $navbar-logout;
        }

        .tarjeta-info{
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          height: 95%;
          justify-content: space-between;
          margin-right: 3px;
          width: 80%;

          h1{
            font-size: x-large;
          }

          h2{
            font-size: medium;
          }

          h3 {
            color: $gray_button;
            font-size: small;
          }

          hr{
            border: 1px solid $gray_button;
            width: 100%;
          }

          .tarjeta-prev{
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 100%;
          }
        }
      }
      
    }

    .grafica {
      align-items: center;
      display: flex;
      height: 300px;
      justify-content: space-between;
      margin-top: 50px;

      .grafica-table{
        background-color: gray;
        height: 300px;
        width: 500px;
      }
      .grafica-chart{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: 20px;

        h1{
          font-size: large;
        }
      }

      .table-container {
        margin: 20px;
  
        .tittle-main-modal {
          font-size: 12px;
        }
  
        table {
          border-collapse: collapse;
          border-spacing: 0;
          margin-top: 10px;
  
          tr:nth-child(even) {
            background-color: $background-table
          }
  
          thead,
          tbody {
            display: block;
          }
  
          tbody {
            height: 100px;
            overflow-y: auto;
          }

          .modal-supply {
            height: 252px;
          }
  
          thead {
            background-color: $navbar-background-color;
            border: 1px solid $border_form;
            color: $white;

            tr {
              height: 25px;
  
              th {
                min-width: 135px;
                text-align: center;
              }
            }
          }
  
          tbody {
            tr {
              border: 1px solid $border_form;
              height: 25px;
  
              td {
                min-width: 135px;
                text-align: center;
              }
            }
          }
        }
      }
      
    }
  }
  .estilo{
  -moz-box-shadow: 7px 9px 22px -5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 7px 9px 22px -5px rgba(0,0,0,0.5);
  background-color: #D9D9D9;
  border-radius: 10px;
  box-shadow: 7px 9px 22px -5px rgba(0,0,0,0.5);
  width: 80%;
  }
  .dias {
  align-items: center; /* centrar verticalmente el contenido */
  display: flex;
  flex-direction: column;
  height: 320px; /* establecer un alto fijo */
  }


  .dias-titulo {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  padding-top: 5%;
  }

  .date {
  align-items: center; /* centrar verticalmente el contenido */
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* centrar horizontalmente el contenido */
  }

  .date input[type=submit] {
  display: block;
  flex: 1;
  margin-bottom: 3%;
  margin-top: 1%;
  }

  .myButton {
  background-color:#2C2C2C;
  border-radius:5px;
  border:1px solid #030303;
  box-shadow:inset 0px 1px 3px 0px #404040;
  color:#ffffff;
  cursor:pointer;
  display:inline-block;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding: 6px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #080808;
  }
  .myButton:active {
  position:relative;
  top:1px;
  }
  .grafica{
    margin-bottom: 20px;
  }
  .hidden {
    display: none;
  }

 .btn-group {
  display: flex;
  flex-direction: column;
}
  .btn-date {
    background-color:#2C2C2C;
    border:1px solid #c7c7c7;
    box-shadow: 0px 2px 14px -5px #212121;
    color:white;
    cursor:pointer;
    display:inline-block;
    font-family: "Raleway", sans-serif;
    font-size:17px;
    padding:10px 25px;
    text-decoration:none;
  }
  .btn-date:active {
    position:relative;
    top:1px;
  }

.seleccion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
    
  .dias{
    height: auto;
    width: 50%;
  }

  .botones {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h1{
      margin-bottom: 80px;
      margin-top: 40px;
    }
  }

  .contenedor {
    margin: 0 auto;
    width: 80%;
  }
  
  .seleccion {
    float: left;
  }
