$background-beige-principal: #fefef5;
$black_hover: #303030;
$black-light: #2c2c2c;
$black: black;
$border_form: #d9d9d9;
$gray_button_hover: #535151;
$gray_button: #737373;
$navbar-background-color: #2c2c2c;
$navbar-close-color: white;
$navbar-logo: wheat;
$text-light-gray: gray;
$navbar-logout: darkred;
$navbar-text-color-hover: skyblue;
$navbar-text-color: white;
$red_button_hover: #913434;
$red_button: #c93e3f;
$red-color-main-button-hover: #a43131;
$red-color-main-button: #c93e3f;
$white-font-and-lettering: #ffffff;
$red-color-main-button-hover: #a43131;
$navbar-background-color: #2c2c2c;
$navbar-text-color: white;
$navbar-text-color-hover: skyblue;
$navbar-logout: darkred;
$navbar-close-color: white !important;
$navbar-logo: wheat;
$background-table: #fafafa;

$ligth-status: #a5a5a5;
$ligth-short: #f44d4d;
$ligth-good: #96de77;
$ligth-low: #f7ff9a;
$gray-planner-table: rgb(218, 218, 218);
$white: white;

$waiting-color: #e0e0e0;
$progress-color: #ffab76;
$done-color: #baffb4;
$delete-color: #ff6363;
$moreinfo-color: white;
$moreinfo-color-hover: rgb(122, 122, 225);

$postit-color: #ffff88;
