$background-beige-principal: #fefef5;
$black_hover: #303030;
$black-light: #2c2c2c;
$black: black;
$border_form: #D9D9D9;
$gray_button_hover: #535151;
$gray_button: #737373;
$navbar-background-color: #2C2C2C;
$navbar-close-color: white !important;
$navbar-logo: wheat;
<<<<<<< HEAD
$background-beige-principal: #fefef5;
$black-light: #2c2c2c;
$red-color-main-button: #c93e3f;
$white-font-and-lettering: #ffffff;
$red-color-main-button-hover: #a43131;
=======
$navbar-logout: darkred;
$navbar-text-color-hover: skyblue;
$navbar-text-color: white;
$red_button_hover: #913434;
$red_button: #C93E3F;
$red-color-main-button-hover: #a43131;
$red-color-main-button: #c93e3f;
$white-font-and-lettering: #ffffff;
$white: white;
>>>>>>> 3cf367b2a8bd3cff99a88118272c6a326d37f532
