$background-beige-principal: #fefef5;
$black-light: #2c2c2c;
$red-color-main-button: #c93e3f;
$white-font-and-lettering: #ffffff;
$red-color-main-button-hover: #a43131;
$navbar-background-color: #2C2C2C;
$navbar-text-color: white;
$navbar-text-color-hover: skyblue;
$navbar-logout: darkred;
$navbar-close-color: white !important;
$navbar-logo: wheat;


$waiting-color: #e0e0e0;
$progress-color: #FFAB76;
$done-color: #BAFFB4;
$delete-color: #FF6363;
$moreinfo-color: white;
$moreinfo-color-hover: rgb(122, 122, 225);