<%= render "modal" %>
<div class="two-container">
  <div class="image-container2">
      <%=image_tag("svg/foodpoint.svg")%>  
  </div>
  <div class="register-container">
    <div class="register"> 
      <%=image_tag("svg/new.svg")%>  
      <div class="title-container">
        <h1>New item!</h1>
      </div>
      <div class="form-container">
        <%= render "create_form", item: @item %>
      </div>
    </div>
  </div>
</div>
