.footer {

  &__container {

    align-items: center;
    background-color: #253755;
    bottom: 0; 
    color: #4a8ebf;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    left: 0;
    min-height: 70px;
    padding: 1rem;
    position: fixed;
    width: 100%;
  }

  &__authors {
    display: flex;
    flex-direction: column;
    
    &__author {
      color: white;
      text-decoration: none;
      width: fit-content;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__media {

    transition: 0.5s;

    &:hover {
      opacity: 0.5;
    }
  }



}