@import 'abstracts/variables';

.navbar {

  &__container {
    align-items: center;
    background-color: $navbar-background-color;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    left: 0;
    font-size: x-large;
    padding-top: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: 0.5s;
    width: 0;
    z-index: 1;

    &__closed {
      border-radius: 0 1.5rem 1.5rem 0;
      width: 2rem;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      background-color: $navbar-background-color;
    }
  }

  &__close {

    &__btn {
      font-size: 30px;
      color: $navbar-close-color;
      position: absolute;
      top: 1rem;
      right: 1rem;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__logo {
    border-radius: 20px;
    height: 8rem;

    &__closed {
      border-radius: 10px;
      height: 2rem;
      margin-top: 1rem;
      width: 2rem;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: space-around;

    &__option {
      color: $navbar-text-color;
      text-decoration: none;
      transition: 0.5s;

      &:hover {
        color: $navbar-text-color-hover;
      }
    }
  }

  &__logout {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    &__line {
      background-color: $navbar-text-color;
      height: 1.5px;
      margin-bottom: 1rem;
      width: 100%;
    }

    &__option {
      color: $navbar-text-color;
      text-decoration: none;

      &:hover {
        color: $navbar-logout;
      }
    }
  }

}

#main {
  padding: 0 1rem 0 1rem;
  transition: margin-left .5s;
  margin-left: 10rem;
}

#mySidenav {
  width: 10rem;
}

#logo {
  display: none;
}

