<div class='kitchen__order'>
  <div class='kitchen__order__info'>
    <div>
      <p>ID: 1</p>
      <p>Order: 20</p>
    </div>
    <div>
      <p>Table</p>
    </div>
  </div>

  <div class='kitchen__order__items'>
    <p class='kitchen__order__item'>Hotcakes </p>
    <p class='kitchen__order__item'>EGGs </p>
    <p class='kitchen__order__item'>Burgir </p>
  </div>

  <div class='kitchen__order__notes' >
    <p>Notes</p>
    <p>Extra pickles</p>
  </div>

  <div class='kitchen__order__button'>
    <button class='kitchen__order__progress'>Mark as progress</button>
  </div>
  
</div>
