<%= javascript_include_tag 'popupkitchen' %>
<div class='kitchen__popup__overlay' id='more-info'>
  <div class='kitchen__popup__order'>
    <button id='btn-more-info-close'>Close</button>
  </div>
</div>