<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<%= javascript_include_tag 'popupkitchen' %>
  <%= render 'popupCardorder'%>
<div class='kitchen__main'>
  <%= render 'cardorder'%>
</div>
<%= render 'shared/footer' %>

