<div class="container">
  <div class="scores">
    <div class = "tarjeta">Todays Money</div>
    <div class = "tarjeta">Orders Numbers</div>
    <div class = "tarjeta">Best Seller</div>
  </div>
  <div class="reports">
    <div class="dias estilo">
      dias
    </div>
    <div class="grafica estilo">
      graficas
    </div>
  </div>
</div>
